@import "../../vars.css";

.container {
    position: relative;
    z-index: 1;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 395px;
    margin-bottom: 370px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    z-index: 1;
    /* margin: auto; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    margin: auto;
}

.title {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 50px;
    font-family: "JetBrains Mono Variable", monospace;
    text-align: center;
}

.dash {
    color: #E5495A;
    font-family: "JetBrains Mono Variable", monospace;
    font-size: 64px;
}

.description {
    font-size: 18px;
    font-family: var(--font-akshar);
    margin-bottom: 30px;
    text-align: center;
    width: 440px;
}

.resumeBtn {
    text-decoration: none;
    background-color: #000;
    transition: background-color 0.5s linear;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--font-akshar);
    padding: 15px 27px;
    margin: auto;
    display: flex;
    align-items: center;
}

.resumeBtn:hover {
    background-color: #E5495A;
    transition: background-color 0.5s linear;
    color: white;
}

.downloadBtn {
    margin-left: 3px;
    margin-top: -1px;
    background: none;
}

@media screen and (max-width: 830px) {
    .title {
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 50px;
        font-family: "JetBrains Mono Variable", monospace;
        text-align: center;
    }

    .dash {
        color: #E5495A;
        font-family: "JetBrains Mono Variable", monospace;
        font-size: 45px;
    }
    
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
}