@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 275px;
    z-index: 1;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 380px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    /* margin: auto; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    margin: auto;
}

.title {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 50px;
    font-family: "JetBrains Mono Variable", monospace;
    text-align: center;
}

.description {
    font-size: 18px;
    font-family: var(--font-akshar);
    margin-bottom: 30px;
    text-align: center;
    width: 440px;
}

.resumeBtn {
    text-decoration: none;
    background-color: #000;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--font-akshar);
    padding: 15px 27px;
    margin: auto;
    display: flex;
    align-items: center;
}

.downloadBtn {
    margin-left: 3px;
    margin-top: -1px;
    background: none;
}