@import "../../vars.css";

.container {
    position: relative;
    z-index: 1;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 500px;
    margin-bottom: 250px;
}

.title {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 50px;
    font-family: "JetBrains Mono Variable", monospace;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.para {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 18px;

}

.github {
    width: 800px;
}

.dash {
    color: #E5495A;
    font-family: "JetBrains Mono Variable", monospace;
    font-size: 64px;
    font-weight: 900;
    text-decoration: none;
}

@media screen and (max-width: 830px) {
    .title {
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 40px;
        font-family: "JetBrains Mono Variable", monospace;
        text-align: center;
    }

    .dash {
        color: #E5495A;
        font-family: "JetBrains Mono Variable", monospace;
        font-size: 50px;
    }

    .github {
        width: 450px;
    }

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
}