@import "../../vars.css";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    z-index: 2;
}

.logo {
    width: 50px;
    height: 50px;
}

.title {
    font-family: "JetBrains Mono Variable", monospace;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    text-align: justify;
}

.dash {
    color: #E5495A;
    font-family: "JetBrains Mono Variable", monospace;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.menuBtn {
    display: none;
}

.menu {
    display: flex;
}

.menuItems a {
    position: relative;
    font-size: 25px;
    text-decoration: none;
    margin-left: 40px;
    transition: color 0.2s linear;
    color: var(--color-text);
}

.menuItems a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #E5495A;
    transition: .3s;
}

.menuItems a:hover::before {
    width: 100%;
}

.menuItems a:hover {
    transition: color 0.2s linear;
    color: #E5495A;
}


@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: #404040;
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    }

    .menuItems a {
        position: relative;
        font-size: 25px;
        text-decoration: none;
        margin-left: 0px;
        transition: color 0.2s linear;
        color: var(--color-text);
        background-color: transparent;
    }
    
    .menuOpen {
        display: flex;
        z-index: 1;
    }
}