@import "../../vars.css";

.container {
    position: relative;
    z-index: 1;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
}

.title {
    display: flex;
    font-family: "JetBrains Mono Variable", monospace;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    color: var(--color-text);
    z-index: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.name {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.line {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.copyright {
    margin-right: 10px;
}

.dash {
    color: #E5495A;
    font-family: "JetBrains Mono Variable", monospace;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.logo {
    display: flex;
    width: 50px;
    height: 50px;
    margin:auto;
}