@import "../../vars.css";

.container {
    position: relative;
    z-index: 1;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 260px;
}

.title {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 40px;
    font-family: "JetBrains Mono Variable", monospace;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20%;
}

.group {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.description {
    font-size: 18px;
    margin-left: 25px;
}

.logo {
    font-weight: 600;
}

.date {
    font-size: 18px;
    margin-left: 25px;
    color: #868686;
}

.astro {
    margin-bottom: 50px;
}

.cmr {
    margin-bottom: 50px;
}

.nasa {
    margin-bottom: 50px;
}

.rbi {
    margin-bottom: 50px;
}

.dash {
    color: #E5495A;
    font-family: "JetBrains Mono Variable", monospace;
    font-size: 64px;
    font-weight: 900;
    text-decoration: none;
}

@media screen and (max-width: 830px) {

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 10%;
    }

    .title {
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 40px;
        font-family: "JetBrains Mono Variable", monospace;
        text-align: center;
    }

    .dash {
        color: #E5495A;
        font-family: "JetBrains Mono Variable", monospace;
        font-size: 50px;
    }

    .description {
        font-size: 18px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
    }
}